// TODO: filter dropdown inconsistencies (country, order by, time, all/verbatim results)

// gray default variant (Google-ish)
//$background-color: #202124;
//$footer-bg: #171717;

$border-radius: 12px;
$accent-color: rgba(255, 255, 255, 0.1);

// brave variant
$background-color: #17191e;
$header-bg: #1a1c23;
$widget-bg: #1e2028;
$footer-bg: #1e2028;

// Common Styles for All Themes
:root {
  --search-result-gap: 32px;

  ._0_more_search_box {
    border-radius: inherit;
  }

  ._0_more_search_user_bangs_list {
    padding-bottom: 0;
  }

  ._0_more_search_box_share_button {
    margin-bottom: 0;
  }

  .k_ui_dropdown_data_list {
    padding: 0;
    border-radius: $border-radius;
    top: 28px !important;

    .list_items {
      border-radius: $border-radius;
      margin-bottom: 0;

      & > a {
        padding: 6px 25px !important;
        border-radius: 0;

        &:hover {
          border-radius: unset !important;
        }
      }
    }

    hr {
      margin: 0;
    }
  }

  .videoResultItem,
  ._0_img-results .item,
  .newsResultItem .newsResultBody .newsResultImage img {
    border-radius: $border-radius;
  }

  ._0_img-results .item .imageInfo > div.b {
    background: linear-gradient(
                    360deg,
                    rgba(0, 0, 0, 0.6) 0,
                    rgba(0, 0, 0, 0) 100%
    );
  }

  ._0_img-results .item .imageInfo > div.t {
    background: linear-gradient(
                    360deg,
                    rgba(0, 0, 0, 0) 0,
                    rgba(0, 0, 0, 0.6) 100%
    );
  }

  .sri-group .__dl {
    padding-bottom: 0;
  }

  ._0_img-results .item img {
    object-fit: cover;
  }

  .main-footer {
    padding-bottom: 2rem;
  }

  ._0_queryInfo {
    padding: 0;
  }

  // yeah, they got typo...
  ._0_page-seperator {
    border-bottom: 1px dashed var(--color-primary-dim_1);
  }

  .related-searches:empty {
    margin-top: 30px;
  }

  .mob {
    .auto_item {
      padding: 6px 10px;
    }

  }

  a:focus-visible {
    outline: 2px solid var(--color-primary_hover);
    border-radius: 5px;
  }

  ._0_rank-icons {
    margin-top: 0;
  }

  .box:hover {
    outline-width: 1px;
  }

  .auto_suggestions .auto_suggestions_lenses {
    border-top-width: 1px;
    margin-top: 0;
  }

  // justify-content: space-between; makes spacing a little bit off...
  .wikipediaRelatedSection .wikipediaRelatedItems {
    gap: 1.5rem;
    justify-content: start;
  }
}

.theme_moon_dark {
  --background-color: #{$background-color};
  --footer-bg: #{$footer-bg};
  --header-bg: #{$header-bg};
  --control-center-bg: var(--background-color);
  --filter-dd-bg: var(--background-color);
  --not-found-bubble-bg: var(--footer-bg);

  --result-item-title-border: var(--background-color);
  --result-item-title-visited-border: var(--background-color);
  --result-item-title-border_hover: var(--search-result-title);

  --search-result-date-bg: rgba(255, 255, 255, 0.15);
  --search-result-date-new-bg: rgba(255, 255, 255, 0.15);

  --cheatsh_background: #{$accent-color};
  --kagi-accent: #{$accent-color};
  --tabs-round-bg: #{$accent-color};
  --dd-hover-bg: #{$accent-color};
  --inline-widget-bg: #{$widget-bg};
  --dd-list-input-bg: #{$accent-color};
  --control-center-dd-list-bg_hover: #{$accent-color};
  --related-item-bg: #{$accent-color};
  --btn-group-bg: #{$accent-color};
  --video-item-bg: #{$accent-color};

  // TODO: work more on colors
  // doesn't work yet (https://kagifeedback.org/d/1318-custom-css-on-discuss-with-ai-page)
  //--ai_chat_buble_a_bg: var(--inline-widget-bg); // AI
  //--ai_chat_buble_q_bg: var(--inline-widget-bg); // You

  --search-result-title: #8ab4f8;
  --color_link: var(--search-result-title);
  --color-primary_visited: #c58af9;
  --search-result-title-hover: var(--search-result-title);
  --color-primary_hover: var(--search-result-title-hover);
  --m_sri_gap_color: var(--background-color);

  --site_info_bg: var(--background-color);
  --site_info_bottom_bg: transparent;

  --btn-primary-color: var(--inline-widget-bg);

  // width overwritten in :root
  .box:hover {
    outline: 1px solid var(--color-primary_hover);
  }

  .clipboardCopy ._0_copied_tooltip {
    background-color: rgba(13, 13, 14, 0.9);
  }

  // width overwritten in :root
  .auto_suggestions .auto_suggestions_lenses {
    border-top: 1px solid var(--color-primary-dim_3);
  }

  .correctedQuery a {
    color: var(--search-result-title);
  }

  .__srgi-title a:visited:hover {
    border-bottom: 1px solid var(--color-primary_visited);
  }

  .__sri-title .__sri_title_link:visited:hover {
    color: var(--color-primary_visited);
    border-bottom: 1px solid var(--color-primary_visited);
  }

  .mob {
    #m_wiki {
      color: var(--color-secondary-dim_6);

      .collapse-icon {
        color: var(--color-primary);
      }

      .wiki-content a {
        text-decoration: underline;
      }
    }
  }
}

.theme_calm_blue {
  --m_sri_gap_color: var(--background-color);
  --quick-search-bg: var(--color-primary-dim_6);
}

// Dark Mode Discuss with AI Page
html[data-path="/discussdoc"] {
  color-scheme: dark;

  // override variables
  --background-color: #{$background-color};
  --color-primary: rgb(255, 255, 255);
  --color-primary-dim_5: rgba(255, 255, 255, 0.5);

  // custom variables
  $color-accent: #58a6ff;

  --ai_chat_buble_q_bg: #{darken($color-accent, 20%)};
  --ai_chat_buble_q_text: var(--color-primary);
  --ai_chat_buble_a_bg: #{$widget-bg};
  --ai_chat_buble_a_text: var(--color-primary);
  --ai_chat_input_text: var(--color-primary);
  --ai_chat_input_button: var(--color-primary-dim_5);

  .closeBtn {
    background: rgb(229, 229, 229); // primary
    color: rgb(25, 25, 25); // secondary
  }

  .question_form_box {
    padding: 0;
    margin: 0;

    ._0_ai_answer_wrapper {
      padding: 20px;
      max-height: calc(100% - 101px);
      overflow: auto;
    }

    .q_form_wrapper {
      padding: 15px 40px;
      border-top: 1px solid #{$footer-bg};
    }

    ._0_q_form_box {
      padding: 0 3px;
      background-color: #{$widget-bg};
    }

    ._0_ai_answers_box {
      padding: 0;
    }
  }
}
